@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 59, 130, 246;
  --background-light: 248, 250, 252;
  --background-dark: 17, 24, 39;
  --text-light: 31, 41, 55; /* Darker shade for better contrast */
  --text-dark: 243, 244, 246;
}

body {
  color: rgb(var(--text-light));
  background-color: rgb(var(--background-light));
}

.dark body {
  color: rgb(var(--text-dark));
  background-color: rgb(var(--background-dark));
}

.glass-section {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .glass-section {
  background-color: rgba(17, 24, 39, 0.7);
}

.skills-section,
.portfolio-section {
  @apply glass-section text-gray-800 dark:text-gray-100;
}

.light-mode-text {
  @apply text-gray-800;
}

.dark-mode-text {
  @apply text-gray-100;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.7);
}

